### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head

<bound method NDFrame.head of        Student ID       student_name gender grade         school_name  \
0             0.0       Paul Bradley      M   9th   Huang High School
1             1.0       Victor Smith      M  12th   Huang High School
2             2.0    Kevin Rodriguez      M  12th   Huang High School
3             3.0  Dr. Richard Scott      M  12th   Huang High School
4             4.0         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39167     39167.0     Rebecca Tanner      F   9th  Thomas High School
39168     39168.0       Desiree Kidd      F  10th  Thomas High School
39169     39169.0    Carolyn Jackson      F  11th  Thomas High School
39170         NaN                NaN    NaN   NaN                 NaN
39171         NaN                NaN    NaN   NaN                 NaN

       reading_score  math_score       reading          math          both  \
0               66.0        79.0      0.000000      1.000000      0.000000
1               94.0        61.0      1.000000      0.000000      0.000000
2               90.0        60.0      1.000000      0.000000      0.000000
3               67.0        58.0      0.000000      0.000000      0.000000
4               97.0        84.0      1.000000      1.000000      1.000000
...              ...         ...           ...           ...           ...
39167           73.0        84.0      1.000000      1.000000      1.000000
39168           99.0        90.0      1.000000      1.000000      1.000000
39169           95.0        75.0      1.000000      1.000000      1.000000
39170            NaN     39170.0  33610.000000  29370.000000  25528.000000
39171            NaN         NaN      0.858055      0.749809      0.651723

       School ID      type    size     budget
0            0.0  District  2917.0  1910635.0
1            0.0  District  2917.0  1910635.0
2            0.0  District  2917.0  1910635.0
3            0.0  District  2917.0  1910635.0
4            0.0  District  2917.0  1910635.0
...          ...       ...     ...        ...
39167       14.0   Charter  1635.0  1043130.0
39168       14.0   Charter  1635.0  1043130.0
39169       14.0   Charter  1635.0  1043130.0
39170        NaN       NaN     NaN        NaN
39171        NaN       NaN     NaN        NaN

[39172 rows x 14 columns]>

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district = school_data_complete.groupby(['school_name'])
schoolcount = len(district)
totstudents = school_data_complete["student_name"].count()
totbudget = school_data["budget"].sum()
perstubudget = totbudget/totstudents
avgmathscore = student_data["math_score"].mean()
avgreadscore = student_data["reading_score"].mean()
passmathscore = student_data["math_score"].mean()
# schoolcount
# totstudents
# totbudget
# perstubudget
# avgmathscore
# avgreadscore

In [3]:
goodmathstudents = student_data.loc[student_data["math_score"] >= 70,:] 
goodmathpercent = goodmathstudents["student_name"].count()/totstudents
# goodmathpercent
goodreadingstudents = student_data.loc[student_data["reading_score"] >= 70,:]
goodreadpercent = goodreadingstudents["student_name"].count()/totstudents
# goodreadpercent
beststudents = student_data.loc[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70),:]
beststudentspercent = beststudents["student_name"].count()/totstudents
beststudentspercent

0.6517232575950983

In [5]:
# Create a dataframe to hold the results of above

print(schoolcount)
print(totstudents)
print(totbudget)
print(perstubudget)
print(avgmathscore)
print(avgreadscore)
print(goodmathpercent)
print(goodreadpercent)
print(beststudentspercent)


summary_df = pd.DataFrame({
    "Total Number of Schools":[schoolcount],
    "Total Number of Students":[totstudents],
    "Total Budget":[totbudget],
    "Total Budget per Student":[perstubudget],     
    "Average Math Score":[avgmathscore],
    "Average Reading Score":[avgreadscore],
    "Percent Passing Math":[goodmathpercent],
    "Percent Passing Reading":[goodreadpercent],
    "Percent Passing Math and Reading":[beststudentspercent] 
})
summary_df

15
39170
24649428
629.2935409752362
79.98332950396977
81.87784018381414
0.749808526933878
0.8580546336482001
0.6517232575950983

,Total Number of Schools,Total Number of Students,Total Budget,Total Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,629.293541,79.98333,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type