### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head

<bound method NDFrame.head of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district = school_data_complete.groupby(['school_name'])
schoolcount = len(district)
totstudents = student_data["student_name"].count()
totbudget = school_data["budget"].sum()
perstubudget = totbudget/totstudents
avgmathscore = student_data["math_score"].mean()
avgreadscore = student_data["reading_score"].mean()

In [3]:
goodmathstudents = student_data.loc[student_data["math_score"] >= 70,:] 
goodmathpercent = goodmathstudents["student_name"].count()/totstudents
# goodmathpercent
goodreadingstudents = student_data.loc[student_data["reading_score"] >= 70,:]
goodreadpercent = goodreadingstudents["student_name"].count()/totstudents
# goodreadpercent
beststudents = student_data.loc[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70),:]
beststudentspercent = beststudents["student_name"].count()/totstudents
# beststudentspercent

In [4]:
# Create a dataframe to hold the results of above

# print(schoolcount)
# print(totstudents)
# print(totbudget)
# print(perstubudget)
# print(avgmathscore)
# print(avgreadscore)
# print(goodmathpercent)
# print(goodreadpercent)
# print(beststudentspercent)


summary_df = pd.DataFrame({
    "Total Number of Schools":[schoolcount],
    "Total Number of Students":[totstudents],
    "Total Budget":[totbudget],
    "Total Budget per Student":[perstubudget],     
    "Average Math Score":[avgmathscore],
    "Average Reading Score":[avgreadscore],
    "Percent Passing Math":[goodmathpercent],
    "Percent Passing Reading":[goodreadpercent],
    "Percent Passing Math and Reading":[beststudentspercent] 
})
summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Total Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,629.293541,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
studentcount = school_data_complete.groupby("school_name")["student_name"].count()
schoolbudget = school_data.groupby("school_name")["budget"].sum()
schoolbudgetper = school_data.groupby("school_name")["budget"].sum()/studentcount
schoolavgmath = school_data_complete.groupby("school_name")["math_score"].sum()/studentcount
schoolavgread = school_data_complete.groupby("school_name")["reading_score"].sum()/studentcount
schoolmathpass = school_data_complete.loc[student_data['math_score']>=70, :
                                 ].groupby('school_name')['math_score'].count()/studentcount

schoolreadpass = school_data_complete.loc[student_data['reading_score']>=70, :
                                 ].groupby('school_name')['reading_score'].count()/studentcount

schoolbothpass = school_data_complete.loc[(student_data['reading_score']>=70) & (student_data['math_score']>=70), :
                                 ].groupby('school_name')['reading_score'].count()/studentcount

schools_df = pd.concat([studentcount,
                        schoolbudget,
                        schoolbudgetper,
                        schoolavgmath, 
                        schoolavgread, 
                        schoolmathpass,
                        schoolreadpass,
                        schoolbothpass
                       ],axis=1)


# schools_df.reset_index(inplace=True)

# schools_df = schools_df.rename(columns = {'index' : 'school_name',
#                                           0 : 'Budget per Student',
#                                           1 : 'Average Math Score',
#                                           2 : 'Average Reading Score',
#                                           3 : 'Percent Passing Math',
#                                           4 : 'Percent Passing Reading',
#                                           5 : 'Percent Passing Math & Reading',})

schools_df

# summary_schools = pd.merge(school_data, schools_df, how="outer", on=["school_name"])


# summary_schools.reset_index(inplace=False)

# summary_schools

,student_name,budget,0,1,2,3,4,5
school_name,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type